__alice__data__2011__LHC11h_2__000170387/AliESDs.root
EventStat_temp.root
GammaConvFlow_69.root
fileinfo.log
generation.log
lego_train.C
lego_train.root
lego_train.sh
lego_train_merge.C
lego_train_merge.sh
lego_train_validation.sh
lego_train_validation_merge.sh
outputs_valid
stderr
stdout
syswatch.log
syswatch.root
validation.log
plot.pdf
